.create-film-title {
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

/* INPUT GROUP */
.textarea {
  height: 14rem;
}

.create-film-inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-film-inputGroup .form-control {
  margin-bottom: 0;
}

.title-input {
  flex: 5;
}

.btn-input-file {
  flex: 1;
  margin: 0.5em -4.5em 0.5em 0.5em;
}

.create-post-btn {
  display: flex;
  justify-content: flex-end;
}

.form-input-film input[type="file"]::before,
.form-input-film input[type="file"] {
  content: "Attach Thumbnail";
  width: 9.6rem;
}

.btn-select {
  cursor: pointer;
  background-color: rgba(180, 180, 180, 0.2);
  border: 2px solid rgb(161, 161, 161);
  outline: none;
  color: #fff;
  height: 50px;
  justify-content: center;
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
  line-height: 50px;
}

.form-select-lg {
  cursor: pointer;
  background-color: rgba(180, 180, 180, 0.2);
  border: 2px solid rgb(161, 161, 161);
  outline: none;
  color: #fff;
}

.form-input-film .dropdown-menu {
  height: 15em;
  overflow-y: scroll;
}
