.detail-film-container {
  height: 90vh;
  padding: 1em;
}
/* IMG film */
.df-img {
  display: flex;
  justify-content: center;
  align-items: start;
}

/* Info film */
.df-info {
  display: flex;
  flex-direction: column;
}

/* title */
header {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
}
header p {
  font-size: 3em;
  font-weight: 900;
}
.film-btn-container,
.df-img-jumbo,
.df-title-film {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* jumbo img */
.df-img-jumbo {
  flex: 2;
  margin: 2em 0;
}

.df-img-jumbo img {
  width: 100%;
  height: 100%;
}

/* synopsis */
.df-synopsis-film {
  flex: 3;
  font-size: 1.125em;
}

.synopsis-info {
  font-weight: 900;
  letter-spacing: 2px;
}

.synopsis-info p:nth-child(1) {
  font-size: 1.5em;
}

.synopsis-info p:nth-child(2) {
  color: #cd2e71;
}

.text-synopsis::-webkit-scrollbar {
  width: 5px;
}
.text-synopsis::-webkit-scrollbar-track {
  background: transparent;
}

.text-synopsis::-webkit-scrollbar-thumb {
  background: rgb(199, 199, 199, 0.1);
  border-radius: 5px;
}

.text-synopsis::-webkit-scrollbar-thumb:hover {
  background: rgb(199, 199, 199, 0.3);
  border-radius: 5px;
}

.text-synopsis {
  text-align: justify;
  box-sizing: border-box;
  height: 27vh;
  overflow-y: scroll;
}

/* MODAL */
.detailModal-attachment {
  font-size: 1.125em;
  color: #fff;
}
.title-attachment {
  font-weight: 900;
  color: #fff;
  font-size: 1.5em;
}

.info-attachment {
  font-weight: 800;
}

.detail-browse-attachment {
  display: flex;
  margin-top: 0.5em;
}

.detail-browse-attachment p {
  font-size: 0.8em;
  color: #616161;
}

.detail-browse-attachment input[type="file"]::before,
.detail-browse-attachment input[type="file"] {
  content: "Attach Payment";
  width: 8.8rem;
}

/* Query */
