/* NAVBAR */
.lp-navbar {
  height: 10vh;
}

.lp-navbar-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 25.2px 0;
}

.lp-navbar .lp-navbar-img {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* COUR */
/* default */
.carousel-caption {
  text-align: left;
}
/* costume */
.lp-courosel {
  height: 57vh;
  box-sizing: border-box;
  font-size: 1.15em;
}

.lp-courosel-caption h1 {
  font-weight: 900;
  font-size: 3em;
  margin-bottom: 20px;
}

.lp-courosel-caption p {
  size: 1.125em;
  font-weight: 900;
}

.lp-courosel-caption p:nth-child(3) {
  color: #cd2e71;
}

.lp-courosel-caption p:nth-child(4) {
  size: 1.125em;
  font-weight: 400;
  font-size: 0.875em;
}

/* LIST */
.lp-listfilm {
  height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5em;
}

.lp-listfilm p {
  font-weight: 800;
  font-size: 1.5em;
}

.lp-list-film {
  display: flex;
  width: 50em;
}

.lp-card-title {
  color: #fff;
  text-align: center;
  font-weight: 500;
}
.lp-card-img {
  height: 100%;
  width: 100%;
}
/* reset default */
.card {
  background-color: transparent;
}
