/*  */
.list-title-container {
  margin: 3em 0 2em 3.5em;
}
.list-title-container p {
  font-size: 2em;
  font-weight: 900;
}
/* movie list */
.list-film-user {
  display: flex;
  flex-wrap: wrap;
}

.list-film-user img {
  height: 17em;
  margin: 1em 1.15em;
}
