body {
  background: #0b0b0b;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  font-family: "Montserrat", sans-serif;
  font-family: "Sen", sans-serif;
}

#root {
  background: #0b0b0b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESET DEFAULT */
.btn:focus {
  box-shadow: none;
  outline: none;
}

.btn-primary:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.btn-link-basic,
.btn-link-basic:hover {
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: #fff;
}

/* Form input */
.form-control {
  background-color: rgba(180, 180, 180, 0.2);
  border: 2px solid rgb(161, 161, 161);
  outline: none;
  color: #fff;
  height: 50px;
  justify-content: center;
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
}
.form-control:focus {
  background: rgba(180, 180, 180, 0.2);
  box-shadow: none;
  outline: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0px;
}

.text-pointer {
  cursor: pointer;
  display: inline-block;
}

.text-base-color {
  color: #cd2e71;
  display: inline-block;
}

/*  */
.base-btn,
.base-btn:hover {
  background-color: #cd2e71;
  font-weight: 900;
}

.btn-fullWidth,
.btn-fullWidth:hover {
  width: 100%;
  background-color: #cd2e71;
  font-weight: 900;
}

/* btn type file */
input[type="file"],
input[type="file"]::before {
  content: "Browse";
  background: #cd2e71;
  width: 12.5rem;
  font-weight: 800;
  height: 40px;
  display: block;
  text-align: left;
  position: relative;
  margin: 0 5px;
  left: -6px;
  border: none;
  top: -1px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 5px;
  display: block;
  border-radius: 5px;
  cursor: pointer;
}

input[type="file"]:checked {
  border: none;
  box-shadow: none;
}
