.transactions-title p {
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 1em;
  margin-bottom: 0.7em;
}

.approved {
  color: #0acf83;
  text-align: center;
}

.cancel {
  color: #ff0000;
  text-align: center;
}

element.style {
  background-color: aqua;
}

#dropdown-basic-buttonTRX {
  background-color: blueviolet;
  margin-bottom: 1.5em;
}
